@page
@model EducaPro.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Cerrar sesión";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <p>¿Seguro que deseas cerrar sesión?</p>
    <button type="submit" class="btn btn-primary">Salir</button>
</form>
